$bg1:rgb(183, 177, 169);
$colorStyle1: whitesmoke;
$colorStyle11: rgba(229, 225, 225, 0.543);
$butStyBorder: rgba(186, 170, 170, 0.543);
$butStyBg: rgba(229, 225, 225, 0.543);
$butStyShadow: rgba(136, 130, 130, 0.543);
$primaryFont: 'Poppins', sans-serif !important;

